.kitchenPage {
    background-image: ~/img/kitchen.png;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.arrows {
    height:20%;
    width:15%;
    margin: 5% 0;
}

.food {
    height:10%;
}

.logo {
   padding: 10%;  
   margin:  10%;   
}

.jumpButton {
    height: 15%;
    font-size: 20;
    margin: 0 40;
    background-color: lightpink;
    border-radius: 40;
}