.datePickerLayout {
  border-width: 1;
  border-color: black;
  margin: 5;
  padding: 5;
}

.fieldLabel {
  margin-top: 8;
  color: grey;
}

.field {
  font-size: 12;
  color: black;
}

.datePickerLookupButton {
  margin-left:5;
  height:14;
}

.datePickerButton {
  font-size: 10;
  height: 32;
  width: 64;
}

.datePickerAcceptButton {
  background-color: forestgreen;
  horizontal-align: right;
}

.datePickerCancelButton {
  background-color: indianred;
  horizontal-align: right;
}
